@charset "utf-8";

/*========= モーダル表示のためのCSS ===============*/

/*infoエリアをはじめは非表示*/
#info{
  display: none;
}

/*モーダルの横幅を変更したい場合*/
.modaal-container{
    max-width: 600px;
}

/*モーダルのボタンの色を変更したい場合*/
.modaal-close:after, 
.modaal-close:before{
  background:#ccc;  
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before{
  background:#666;
}

/*==================================================
スライダーのためのcss
===================================*/
.slider img {
    width:100%;/*スライダー内の画像を横幅100%に*/
    height:auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
    margin:0 0px;/*スライド左右の余白調整*/
}


/*========= レイアウトのためのCSS ===============*/

header{
  background: #333;
}

.slide-wrap {
    overflow-x: scroll;
    background-color: #ccc;
    display: flex;
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
  }

h1{
  font-size:1.5rem;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
  color: #fff;
}

h2{
  font-size:1.2rem;
  text-align: center;
  margin: 0 0 30px 0;
}

p,ul{
  margin-top:20px;  
}

ul{
  list-style: none;
}

a{
  color:#333;
    outline: none;
}

small{
  background:#333;
  color:#fff;
  display: block;
  text-align: center;
  padding:20px;
}


section{
  padding:30px;
}

section:nth-child(2n){
  background:#f3f3f3; 
}

img{
  max-width: 75%;
  height: auto;
}


.box {
    border-top: 8px solid #aaa;
    background-color: #eee;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
    padding: 2em;
  }